*{
    font-family: 'Poppins';
}
body{
    background-color: #191a1f;
    padding: 50px 0;

}
.signup-section{
    width: 400px;
    height: 100px;
    margin: 95px auto;

}
.signup-section h2{
    color:#FDA100 ;
    font-size: 28px;
    text-align: center;
    font-family: 'Poppins';
    padding-right: 40px;
}
form{
    display: flex;
    flex-direction: column;
    width: 350px;
    gap: 20px;

}
input{
    height: 30px;
    border-radius: 9px;
    background-color: #E5E5E5;
    color:#717171

}
.signup-logo{
text-align: center;
padding-right: 40px;
}
button{
    height: 30px;
    background-color: #FDA100;
    color: white;
    border: none;
    border-radius: 9px;
    margin-bottom: 20px;
}
input::placeholder{
    padding-left: 15px;
}
.signup-section a{
    text-decoration: none;
    color: white;
    display: block;
    text-align: center;
    padding-right: 40px;
justify-content: center;}
.signup-section span{
    color: #FDA100;
    background-color: #191A1F;
    color: white;
    font-family: 'Poppins';
}
.signin{
    margin: 150px auto;
}
.logo{
    width: 100px;
    height: 100px;
    margin: 0 auto;
    display: block;
}
h3{
    text-align: center;
    color: #FDA100;
    font-size: 28px;
}
.form{
    width: 300px;
    margin: 15px auto;
    display: block;
    align-items: center;
}
.btn-signin{
    background-color: #FDA100;
    color: white;
    width: 288px;
    height: 35px;
    margin-top: 15px;
    margin-bottom: 15px;
    border-radius: 9px;
    padding-left: 10px;
    font-size: 15px;
}
a{
    text-decoration: none;
    color: white;
    justify-content: center;
}
a span{
    color: #FDA100;
}
.form input{
    background-color: #E5E5E5;
    width: 276px;
    height: 30px;
    margin-bottom: 10px;
    border-radius: 9px;
    padding-left: 10px;
}
.form input::placeholder{
    color: #717171;
    font-family: 'Poppins';
}